@tailwind base;
@tailwind components;
@tailwind utilities;

@variants hover {
  .filter-none {
    filter: none;
    transition: all 0.5s ease;
  }

  .filter-grayscale {
    filter: grayscale(1);
    transition: all 0.5s ease;
  }
}

article > section h1 {
  @apply text-2xl sm:text-3xl mb-2 sm:mb-3 lg:mb-4;
}

article > section h2 {
  @apply text-xl sm:text-2xl;
}

article > section h3 {
  @apply text-lg sm:text-xl;
}

article > section ul li {
  @apply list-disc;
}

article > section p {
  @apply mb-3 sm:mb-4 md:mb-5 leading-relaxed;
}

article > section a {
  @apply bg-indigo-700 text-white font-semibold transition duration-500 ease-in-out transform hover:text-indigo-700 hover:underline hover:bg-transparent;
}

.active {
  @apply bg-indigo-900 text-white hover:bg-indigo-900;
}
